<h2>{{ title }}</h2>

<ul class="favorites">
	<li *ngFor="let fav of favorites">
		<h4><a target="_blank" href="{{fav.short_url}}">{{fav.summary}}</a></h4>
		<div class="action">
			<span *ngIf="fav.type === 'photo'" class="tag"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
			<span *ngIf="fav.type === 'video'" class="tag"><i class="fa fa-video-camera" aria-hidden="true"></i></span>
			<span *ngIf="fav.type === 'link'" class="tag"><i class="fa fa-link" aria-hidden="true"></i></span>
			<span *ngIf="fav.type === 'text'" class="tag"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>

			<button (click)="removeFromFavs(fav)"><i class="fa fa-times" aria-hidden="true"></i> Delete</button>
		</div>
	</li>
</ul>

